.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 60vw;
  gap: 8px;
}

.cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;
  transition: 500ms;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-shadow: 0 0 100px white;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 20px;
  position: absolute;
  top: 125px;
  font-size: 100%;
  transition: 500ms;
  color: white;
}

.card-header h2 {
  font-weight: 600;
}

.card-header p {
  font-weight: 600;
  font-size: 80%;
}

.card:hover .card-header {
  transform: translateY(-5px);
}

.card-image img {
  object-fit: cover;
  width: 100%;
  mask-image: linear-gradient(to bottom, black 20%, transparent 50%);
  opacity: 0.7;
  transition: 500ms;
  position: absolute;
}

.card:hover .card-image img {
  transform: scale(1.1);
  opacity: 1;
}

.card-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  padding: 10px;
  gap: 5px;
  margin-left: auto;
  opacity: 1;
  border-radius: 0 0 0 10px;
  z-index: 1;
}

.card-icon {
  width: 20px;
  height: 20px;
  fill: white;
  z-index: 1;
}
